{% extends 'base.html' %}
{% block title %}
Resultado da Análise do Repositório
{% endblock %}

{% block content %}

<div>
  <table class="table table-hover table">
      <tr> 
        <th scope="col">Name</th>
        <th scope="col">Link</th>
        <th scope="col">Created</th>
        <th scope="col">Analysed</th>
        <th scope="col">Status</th>
      </tr>
            <tr role="row">
            <td> {{ my_name }} </td>
            <td >{{ my_link }}</td> 
            <td> {{ my_creation_date.strftime('%d-%m-%Y %H:%M:%S') }} </td> 
            <td> {{ my_analysis_date.strftime('%d-%m-%Y %H:%M:%S') }} </td>
            <td >{{ status_repositorio(my_status) }} </td>
    </table>
</div>
  <div>
    <a href="{{ url_for('download_file', id=my_id, filename=my_filename) }}">Download</a>
    <table class="table table-hover table">
      {% for table in tables %}
        {{titles[loop.index]}}
        {{ table|safe }}
      {% endfor %}
    </table>
  </div>        
{% endblock %}